 <!-- Banner Section -->
  <div class="banner">
    <div>
      <h1>Welcome to Admin!</h1>
      <p class="lead">Dashboard</p>
      <a href="/jobs" class="btn btn-light btn-lg">Explore Jobs</a>
    </div>
  </div>