<div class="container d-flex justify-content-center align-items-center ">
        <div class="card p-3 shadow-lg" style="width: 350px;">
            <img src="/image/JobNest_Icon.png"  alt="icon" class="img-fluid rounded " />
            <h3 class="text-center mb-3">Login</h3>

            <form action="/">
                <!-- Email Field -->
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter your email" required>
                </div>

                <!-- Password Field -->
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter your password" required>
                </div>

                <!-- Login Button -->
                <button type="submit" class="btn btn-warning w-100">Login</button>
            </form>

            <div class="text-center mt-3">
                <p>Don't have an account? <a href="/register" class="text-decoration-none">Sign up</a></p>
            </div>
        </div>
    </div>