 <!-- Banner Section -->
<div class="banner">
  <div>
        <img src="/image/icon.png"  alt="icon" class="img-fluid rounded shadow-lg w-25 h-25 mb-3" />
    <h1>Welcome to NodeChat!</h1>
    <p class="lead">
      Create a <span class ="shadow-md p-2 span" >Group</span> and build your <span class ="shadow-md p-2 span">Conversation</span>
    </p>
    <a href="/api/user/login" class="btn btn-light btn-lg btn-gradient ">Start conversation</a>
  </div>
</div>